{% extends 'base.html.twig' %}
{% block body %}
<link href="{{ asset("css/personalizacion.css") }}" rel="stylesheet" type="text/css">
<div class="navbar" id="categoriasNav">
<h1 >Resultado de la búsqueda</h1>

</div>

<div class="row">
<div class="col-sm-8 col-sm-offset-1">
<div class="cuerpo">
<div class="col-md-3 col-sm-offset-3">
    <form method="POST" action="{{ path('Imprimir_busqueda')}}">
        <div class="BotonImprimir">
                    <input type="submit" value="IMPRIMIR" id="BotonImprimir"/>
                    <div class="transicion"></div>
                    {# ,{'result':result} #}
        </div>
    </form>
</div>
  <div class="row">
  <div class="col-sm-8 col-sm-offset-1">
  <table class=" " >
  <tr class="">
    <th>Categoria</th>
    <th>Articulo</th>
    <th>Numero de ares</th>
  </tr>
  {% for articulo in listaarticulos %}
        
        {# {% if articulo.idArticulo == categoria.idcategoria %}
         
        <td>{{categoria.descripcion}}</td>

          {% endif %}

           {% endfor %} #}
    <td>{{articulo.descripcion}}</td>
    <td>{{articulo.NumEjemplar}}</td>
    <td>
      <button  type="button" class="" ><p class=""></p>Editar</button>
      <button  type="button" class="" ><p class=""></p>Gurdar</button>
    </td>
  </tr>
   {% endfor %}
   </table>
    
  </div>

{% endblock body %}